
    <div class="container animated fadeIn">
    <% for(var i=0; i<questions.length; i++) { %>
    <% var question = questions[i]; %>
     <div class="container main-text" id='container-questions-<%=question.id%>'>
        <h2 class="question-header"> Frage <%=questions[i].id%>: <%=question.question%></h2>
          
          <form class="form-horizontal">
         
          <% for(var index in answers) { %>
          <%  var answer = answers[index]; %>
            <% if(question.type == 0) {%>
            <% if(question.id == answer.question_id){ %>
                  <fieldset>
                  <div class="form-group">
                    <div class="col-md-3">
                    </div>           
                    <div class="col-md-9">             
                    <div class="checkbox">  
                     <input type="checkbox" name="answer-check-radio-<%=question.id%>" id="answer-options-check-<%=answer.id%>" answer-id="<%=answer.id%>" question-id="<%=question.id%>">             
                      <label class="question-answer-option" for="answer-options-check-<%=answer.id%>"> <%=answer.text%> </label>
                    </div>
                    
    
                    </div>
                  </div>
                  </fieldset>
              <% } %>
              <% } else { %>
              <% if(question.id == answer.question_id){ %>
              <fieldset>
              <label class="col-md-4" for="radio-question-<%=question.id%>-answer-<%=answer.id%>"> <%=answer.text%> </label>            
              <div class="col-md-8 form-group"> 
                <label class="radio-inline" for="radio-question-<%=question.id%>-answer-<%=answer.id%>">
                  <input type="radio" name="radio-question-<%=question.id%>-answer-<%=answer.id%>" id="radio-question-<%=question.id%>-answer-<%=answer.id%>" answer-id="<%=answer.id%>"  question-id="<%=question.id%>"value="1">
                  sehr gut
                </label> 
                <label class="radio-inline" for="radio-question-<%=question.id%>-answer-<%=answer.id%>">
                  <input type="radio" name="radio-question-<%=question.id%>-answer-<%=answer.id%>" id="radio-question-<%=question.id%>-answer-<%=answer.id%>" answer-id="<%=answer.id%>"  question-id="<%=question.id%>" value="2">
                  gut
                </label> 
                <label class="radio-inline" for="radio-question-<%=question.id%>-answer-<%=answer.id%>">
                  <input type="radio" name="radio-question-<%=question.id%>-answer-<%=answer.id%>" id="radio-question-<%=question.id%>-answer-<%=answer.id%>" answer-id="<%=answer.id%>"  question-id="<%=question.id%>"value="3">
                  mäßig
                </label> 
                <label class="radio-inline" for="radio-question-<%=question.id%>-answer-<%=answer.id%>">
                  <input type="radio" name="radio-question-<%=question.id%>-answer-<%=answer.id%>" id="radio-question-<%=question.id%>-answer-<%=answer.id%>" answer-id="<%=answer.id%>"  question-id="<%=question.id%>" value="4">
                  schlecht
                </label>
                <label class="radio-inline" for="radio-question-<%=question.id%>-answer-<%=answer.id%>">
                  <input type="radio" name="radio-question-<%=question.id%>-answer-<%=answer.id%>" id="radio-question-<%=question.id%>-answer-<%=answer.id%>" answer-id="<%=answer.id%>"  question-id="<%=question.id%>"  value="5">
                  sehr schlecht
                </label>
              </div>
              </fieldset>
           
            <% } %>
              <% } %>

          <% } %>
          
          </form>
    <% if (question.type == 0){ %>
      <button class="button-next" id="button-next-<%=question.id%>" name="button-next" question-type="0" question-id="<%=question.id%>">Weiter >> </button>
    <% } else {%>
      <button class="button-next" id="button-next-<%=question.id%>" name="button-next" question-type="1" question-id="<%=question.id%>">Weiter >> </button>
    <% } %>
    </div>
     <% } %>
   </div>

