<!-- layout representing the evaluation of the trips--> 
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<% var i = 0; %>
<% for (var index in data) {%>
<% var trip = data[index].trip; %>
  <!-- panel for each trip-->   
  <div class="panel panel-default panel-tab">

    <!-- panel heading-->   
    <div class="panel-heading" role="tab" id="heading-<%=trip.id%>">
      <h4 class="panel-title">      
        <a class="header-color-yellow"  data-toggle="collapse" data-parent="#accordion" href="#collapse-<%=trip.id%>" aria-expanded="false" aria-controls="collapse-<%=trip.id%>">        
        <div class="header-date"><%=trip.date_start%></div> - <%=trip.name%>
        </a>
      </h4>
    </div><!-- end of panel heading-->   

   <div id="collapse-<%=trip.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-<%=trip.id%>">   
    <div class="panel-body">
      <div class="container col-md-offset-1">
        <% for (var index in trip.questions) {%>       
        <% var question = trip.questions[index]; %>       
        <!-- first two containers always contains demographic data -->   
        <% if (index == 0) { %>
        <!-- container demographic data 1-->   
         <div class="row col-md-8 container-chart">
          <button class="btn-collapse-right"  data-toggle="collapse" data-target="#info-common-<%=trip.id%>"> <span class="glyphicon glyphicon glyphicon-minus glyph-collapse"></span></button>
          <h4 class="main-text-header header-score">Allgemein</h4>
          <div class="collapse in" id="info-common-<%=trip.id%>">
              <span class="col-md-1 glyphicon glyphicon glyphicon-user"></span>
              <div class="col-md-11 t-score">              
               <div> Insgesamt haben <b id="info-sum-participants-<%=trip.id%>">0</b> Personen den Fragebogen bearbeitet. (davon <b id="info-sum-male-<%=trip.id%>">0</b> männlich, <b id="info-sum-female-<%=trip.id%>">0</b> weiblich, <b id="info-sum-na-<%=trip.id%>">0</b> k.A.)</div> 
               <div><b id="info-sum-participants-finish-<%=trip.id%>">0</b> Reisende haben den Fragebogen vollständig beantwortet</div>
               <div><b id="info-sum-participants-cancel-<%=trip.id%>">0</b> Reisende haben den Fragebogen vorzeitig beendet</div> 
                <br/>
            </div>
           <span class="col-md-1 glyphicon glyphicon glyphicon-time"></span>
           <div class="col-md-11 t-score">
             <div>Für die Beantwortung des Fragebogens haben die Teilnehmer durchschnittlich <b id="info-avg-time-<%=trip.id%>" data-seconds='0'>0</b> benötigt</div> 
           </div>
           <br/>
           <span class="col-md-1 glyphicon glyphicon-comment"></span>
           <div class="col-md-11 t-score">
             <div>Der ausgelieferte Fragebogen war vom Typ: <b id="info-avg-qtype-<%=trip.id%>">0</b></div> 
           </div>
          </div>
         </div> <!-- end of container demographic data 1-->

          <!-- container demographic data 2--> 
          <div class="row col-md-8 container-chart">
            <button class="btn-collapse-right"  data-toggle="collapse" data-target="#container-demograf-inf-<%=trip.id%>"> <span class="glyphicon glyphicon glyphicon-minus glyph-collapse"></span></button>
            <h4 class="main-text-header header-score">Demografische Daten</h4>
            <div class="collapse in" id="container-demograf-inf-<%=trip.id%>">
              <b>Altersgruppen</b>
              <div class="canvas-chart-dem" ><canvas id="age-dem-container-<%=trip.id%>"></canvas></div>
              <b>Erfahrung mit Computern</b>
              <div class="canvas-chart-dem" ><canvas id="exp-dem-container-<%=trip.id%>"></canvas></div>
            </div>
          </div><!-- end of container demographic data 2-->
        <% } %>

            <!-- container question in questionnaire--> 
            <div class="row col-md-8 container-chart">
              <button class="btn-collapse-right"  data-toggle="collapse" data-target="#container-question-<%=trip.id%>-<%=question.question_id%>"> <span class="glyphicon glyphicon glyphicon-minus glyph-collapse"></span></button>         
              <h4 class="main-text-header header-score">Auswertung: <%=question.text%></h4>    
              <div class="collapse in" id="container-question-<%=trip.id%>-<%=question.question_id%>"> 
                <!-- diffrent layout of charts depending on type of the question-->    
                <% if (question.type == 0) { %>
                  <div class="canvas-chart">
                       <canvas class="chart chart-<%=question.question_id%>" id="chart-<%=trip.id%>-<%=question.question_id%>" data-trip-id="<%=trip.id%>" data-question-id="<%=question.question_id%>"></canvas>
                  </div>
                <%  } %>
                <% if (question.type == 1) { %>
                  <table class="chart" id="chart-<%=trip.id%>-<%=question.question_id%>" data-trip-id="<%=trip.id%>" data-question-id="<%=question.question_id%>">            
                  </table>
                <%  } %>
                <% if (question.type == 3) { %>
                  <div class="chart chart-<%=question.question_id%> text-container" id="chart-<%=trip.id%>-<%=question.question_id%>"  data-trip-id="<%=trip.id%>" data-question-id="<%=question.question_id%>"></div>
                <%  } %>
              </div>
            </div>  <!-- end of container question--> 
          <% } %>    
          </div> <!-- end of container chart-->   
        </div>
      </div>
    <% i++ %>
    <% } %>  
  </div>
</div> <!-- end of panel-->   
   	
