<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<% var i = 0; %>
<% for (var index in data) {%>
<% //console.log() %>
<% var trip = data[index].trip; %>

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading-<%=trip.id%>">
      <h4 class="panel-title">
       <% if (i == 0) { %>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-<%=trip.id%>" aria-expanded="true" aria-controls="collapse-<%=trip.id%>">
       <%  } else { %>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-<%=trip.id%>" aria-expanded="false" aria-controls="collapse-<%=trip.id%>"> 
       <%  } %>
        <%=trip.name%>
        </a>
      </h4>
    </div>
    <% if (i == 0) { %>
        <div id="collapse-<%=trip.id%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-<%=trip.id%>">
    <%  } else { %>  
        <div id="collapse-<%=trip.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-<%=trip.id%>">
    <%  } %>  
    <div class="panel-body">
      <div class="container">
        <% for (var index in trip.questions) {%>
        <% var question = trip.questions[index][0]; %>
        <% //console.log(question) %>
         <h4 class="main-text-header">Auswertung: <%=question.text%></h4>
         <% if (question.type == 0) { %> 
          <div class="ct-chart ct-fixed-height ct-golden-section <%=question.question_id%>" data-trip-id="<%=trip.id%>" data-question-id="<%=question.question_id%>"></div>

        <%  } %>
         <% if (question.type == 1) { %>
          <div class="ct-chart ct-fixed-height ct-golden-section <%=question.question_id%>" data-trip-id="<%=trip.id%>" data-question-id="<%=question.question_id%>"></div>
        <%  } %>   
        <%  } %>
      </div>
    </div>
  </div>
<% i++ %>
<% } %>  
</div>
   	
