   <h2>Reisen verwalten</h2>
  <div class="col-md-12 container">
  	<div class="row col-md-2">
  		<button href="#" class='btn btn-info btn-s btn-modal-new-trip header-color-yellow' data-toggle="modal" data-target="modal-new-trip"><span class="glyphicon glyphicon-plus"></span> Neue Reise anlegen</button>
	</div>
    <div class="row col-md-12">
    <table class="table table-hover" id="table-trips">
    <thead>   
        <tr>                    
            <th>Name</th>
            <th>Typ</th>
            <th>Anzahl Reisende</th>
            <th>Passwort</th>
            <th>Status</th>
            <th>Fragebogen</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    	<% for (var index in trips) {%>
    	<% var trip = trips[index]; %>
            <tr id="trip-row-<%=trip.id%>" data-trip-id="<%=trip.id%>">                
                <td><%=trip.name%></td>
                <td><%=trip.type%></td>
                <td><%=trip.count_travellers%></td>
                <td><%=trip.password%></td>
                <% if(trip.flag_active == 1){%>
                  <td><input class="btn-trip-active" type="checkbox" name="btn-trip-active-<%=trip.id%>" data-trip-id="<%=trip.id%>" checked></td>
                 <% } else { %>
                  <td><input class="btn-trip-active" type="checkbox" name="btn-trip-active-<%=trip.id%>" data-trip-id="<%=trip.id%>"></td>
                 <% } %>
                <td><select class="select-questionnaire" id="select-q-type-<%=trip.id%>" data-trip-id="<%=trip.id%>">
                        <option value="0">Standard</option>
                        <option value="1">Surveytainment</option>
                        <option value="2">Hybrid</option>
                    </select>
                </td>
                <td class="text-center">
                  <a href="#" class='btn btn-info   btn-xs btn-edit-trip'   id="btn-edit-trip-<%=trip.id%>"   data-trip-id="<%=trip.id%>"><span class="glyphicon glyphicon-pencil"></span></a>
                  <a href="#" class="btn btn-danger btn-xs btn-delete-trip" id="btn-delete-trip-<%=trip.id%>" data-trip-id="<%=trip.id%>"><span class="glyphicon glyphicon-remove"></span></a>
                </td>

            </tr>
        <% } %>             
    </table>
    </div>
</div>

<div id="modal-new-trip" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Neue Reise anlegen</h4>
      </div>
      <div class="modal-body">
        
        <form>
          <div class="form-group">
            <label for="new-trip-id">ID</label>
            <input type="text" class="form-control" id="new-trip-id" disabled >
          </div>

          <div class="form-group">
            <label for="new-trip-name">Name</label>
            <input type="text" class="form-control" id="new-trip-name">
          </div>

          <div class="form-group">  
           <div class="form-group">
              <label for="new-trip-type">Kategorie</label>
              <select class="form-control" id="new-trip-type">
                
              </select>
            </div>
          </div>

          <div class="form-group">
           <label for="new-trip-count-travellers">Anzahl Reisende</label>
            <input type="number" class="form-control" id="new-trip-count-travellers">
          </div>

          <div class="form-group">
           <label for="new-trip-password">Passwort</label>
            <input type="text" class="form-control" id="new-trip-password">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-modal-cancel" id="btn-modal-cancel-new-trip" data-dismiss="modal">Abbrechen</button>
        <button type="button" class="btn btn-default btn-modal-save-new-trip" id="btn-modal-save-new-trip" data-dismiss="modal">Speichern</button>
      </div>
    </div>

  </div>
</div>  
