
    <div id="temp-qtype" class="invis" data-qtype="<%=type%>"></div>

    <div class="row col-md-12 container main-text demograph-gender" id='container-gender'>     
      <h2>Sind Sie männlich oder weiblich? </h2>
        <div  class="row">     
          <button class="btn-checkbox-dem btn-lg btn-gender" id="check-male" data-checked="false" data-val="m"><span class="glyphicon glyphicon-none"></span></button>
          <label class="question-answer-option col-md-4" for="check-male"> männlich </label>
        </div>

      <div  class="row"> 
         <button class="btn-checkbox-dem btn-lg btn-gender" id="check-female" data-checked="false" data-val="f"><span class="glyphicon glyphicon-none"></span> </button>                
         <label class="question-answer-option col-md-4" for="check-female"> weiblich </label>
      </div>

      <div  class="row"> 
        <button class="btn-checkbox-dem btn-lg btn-gender" id="check-na" data-checked="false" data-val="n"><span class="glyphicon glyphicon-none"></span></button>
        <label class="question-answer-option col-md-4" for="check-na"> keine Angaben </label>
      </div>
      <button class="btn-next-dem btn-next-gender" id="button-next-gender">Weiter ></button>
      </div>

       <div class="row col-md-12 container main-text demograph-age invis" id='container-age'>     
        <h2> Welche der folgenden Kategorien gehört Ihrem Alter an? </h2>
        <div class="row"> 
         <button class="btn-checkbox-dem btn-lg btn-age" id="check-y-0" data-checked="false" data-val="0"><span class="glyphicon glyphicon-none"></span></button>
         <label class="question-answer-option col-md-4" for="check-y-0"> jünger als 20 </label>
        </div>
        <div  class="row"> 
         <button class="btn-checkbox-dem btn-lg btn-age" id="check-y-1" data-checked="false" data-val="1"><span class="glyphicon glyphicon-none"></span></button>
         <label class="question-answer-option col-md-4" for="check-y-1"> 20-29 </label>
        </div>
        <div  class="row"> 
         <button class="btn-checkbox-dem btn-lg btn-age" id="check-y-2" data-checked="false" data-val="2"><span class="glyphicon glyphicon-none"></span></button>
         <label class="question-answer-option col-md-4" for="check-y-2"> 30-39 </label>
        </div>
        <div  class="row"> 
         <button class="btn-checkbox-dem btn-lg btn-age" id="check-y-3" data-checked="false" data-val="3"><span class="glyphicon glyphicon-none"></span></button>
         <label class="question-answer-option col-md-4" for="check-y-3"> 40-49 </label>
        </div>
        <div  class="row"> 
         <button class="btn-checkbox-dem btn-lg btn-age" id="check-y-4" data-checked="false" data-val="4"><span class="glyphicon glyphicon-none"></span></button>
         <label class="question-answer-option col-md-4" for="check-y-4"> 50-59 </label>
        </div>
        <div  class="row"> 
         <button class="btn-checkbox-dem btn-lg btn-age" id="check-y-5" data-checked="false" data-val="5"><span class="glyphicon glyphicon-none"></span></button>
         <label class="question-answer-option col-md-4" for="check-y-5"> 60-69 </label>
        </div>
        <div  class="row"> 
         <button class="btn-checkbox-dem btn-lg btn-age" id="check-y-6" data-checked="false" data-val="6"><span class="glyphicon glyphicon-none"></span></button>
         <label class="question-answer-option col-md-4" for="check-y-6"> älter als 69 </label>
        </div>
         <button class="btn-next-dem btn-next-age" id="button-next-age">Weiter ></button>  
      </div>

      <div class="row col-md-12 container main-text demograph-age invis" id='container-experience'>     
        <h2> Wie viel Erfahrung besitzen Sie im Umgang mit Computern? </h2>
        <div class="row"> 
         <button class="btn-checkbox-dem btn-lg btn-exp" id="check-exp-0" data-checked="false" data-val="0"><span class="glyphicon glyphicon-none"></span></button>
         <label class="question-answer-option col-md-4" for="check-exp-0"> sehr wenig </label>
        </div>
        <div  class="row"> 
         <button class="btn-checkbox-dem btn-lg btn-exp" id="check-exp-1" data-checked="false" data-val="1"><span class="glyphicon glyphicon-none"></span></button>
         <label class="question-answer-option col-md-4" for="check-exp-1"> wenig </label>
        </div>
        <div  class="row"> 
         <button class="btn-checkbox-dem btn-lg btn-exp" id="check-exp-2" data-checked="false" data-val="2"><span class="glyphicon glyphicon-none"></span></button>
         <label class="question-answer-option col-md-4" for="check-exp-2"> durchschnittlich </label>
        </div>
        <div  class="row"> 
         <button class="btn-checkbox-dem btn-lg btn-exp" id="check-exp-3" data-checked="false" data-val="3"><span class="glyphicon glyphicon-none"></span></button>
         <label class="question-answer-option col-md-4" for="check-exp-3"> viel </label>
        </div>
        <div  class="row"> 
         <button class="btn-checkbox-dem btn-lg btn-exp" id="check-exp-4" data-checked="false" data-val="4"><span class="glyphicon glyphicon-none"></span></button>
         <label class="question-answer-option col-md-4" for="check-exp-4"> sehr viel </label>
        </div>
         <button class="btn-next-dem btn-next-exp" id="button-next-exp">Weiter ></button>  
      </div>

    </div>
    <% for(var i=0; i<data.length; i++) { %>
      <% var question = data[i].question; %>     
      <div class="row col-md-12 container main-text invis survey-container" id='container-questions-<%=question.id%>' data-question-id='<%=question.id%>'>
      <h2 class="question-header"><%=question.text%></h2>            
      
      <form class="form-horizontal">
        
      <% for(var index in question.answers) { %>
      <% var answer = question.answers[index][0]; %>
    
      <% if(question.type == 0) {%>  
                  <form role="form">                           

                    <div class="padding-star-rating">                      
                                           
                        <button class="btn-checkbox btn-lg answer-options-<%=question.id%>" id="answer-options-check-<%=answer.id%>" data-answer-id="<%=answer.id%>" data-question-id="<%=question.id%>" data-checked="false">
                          <span class="glyphicon glyphicon-none"></span>
                      </button>
                       
                        <label class="question-answer-option col-md-4" for="answer-check-<%=answer.id%>"> <%=answer.text%> </label>
                     
                    </div>
                 
                   </form>               
        <% } %>

        <% if(question.type == 1) { %> 
              <fieldset>
              <label class="col-md-4" for="radio-question-<%=question.id%>-answer-<%=answer.id%>"> <%=answer.text%> </label>
              <div class="padding-star-rating">
                <input class="rating rating-loading" name="radio-question-<%=question.id%>-answer-<%=answer.id%>" id="radio-question-<%=question.id%>-answer-<%=answer.id%>" data-answer-id="<%=answer.id%>"  data-question-id="<%=question.id%>" data-min="0" data-max="5" data-step="1"> </input>
              </div>  
              </fieldset>
              
      <% } %>
             
      <% if(question.type == 3){ %>        
                <label class="lbl-suggestions" for="text-suggestion">In diesem Textfeld können Sie uns die Eindrücke und Erlebnisse auf Ihrer Reise zukommen lassen. Für Verbesserungsvorschläge und Kritik jeder Art sind wir Ihnen sehr dankbar. Aus technischen und    organisatorischen Gründen können wir jedoch keine persönliche Antwort auf Ihre Anmerkungen geben. </label>          
                <div class="col-md-2"></div>          
    ​            <textarea class="txtarea-suggestions" id="text-suggestions" data-answer-id="<%=answer.id%>"  data-question-id="<%=question.id%>" name="text-suggestion" rows="10" cols="45"></textarea>              
        
      <% } %>
    
    <% } %>
   
    </form>    

    <% if (i == data.length-1){ %>
      <div class="col-md-12">    
        <button class="button-next" id="button-next-<%=question.id%>" name="button-next" data-question-type="<%=question.type%>" data-question-id="<%=question.id%>" data-last-question="true">Absenden</button>    
      </div>
    <% } else { %>  
      <button class="button-next" id="button-next-<%=question.id%>" name="button-next" data-question-type="<%=question.type%>" data-question-id="<%=question.id%>" data-last-question="false">Weiter ></button>
    <% } %>
   
</div>
<% } %>   


