    <% for(var i=0; i<data.length; i++) { %>
      <% var question = data[i].question; %>     
      <% if (i==0){ %>
        <div class="col-md-12 container main-text" id='container-questions-<%=question.id%>' data-question-id='<%=question.id%>'>
      <% } else { %>
        <div class="col-md-12 container main-text invis" id='container-questions-<%=question.id%>' data-question-id='<%=question.id%>'>
      <% } %>    

        <h2 class="question-header"><%=question.text%></h2>
            
        <% if(question.type == 0) {%>  
       <div id="bus-type-0-draggable" class="bus-container">
          <div id="bus-left" class="bus bus-left">
          </div>
          
         
      <% } %>    

      <% for(var index in question.answers) { %>
      <% var answer = question.answers[index][0]; %>
      <% if(question.type == 0) {%>
        <div id="bus-middle" class="bus bus-middle" data-answer-id="<%=answer.id%>" data-checked="false">
        <p class="bus-answer-field p-padding"> <%=answer.text%></p>
        </div>
      <% } %>     


        <% if(question.type == 1) { %>

        <% if (index==0){ %>
        <div id="answer-container-<%=answer.id%>" data-answer-id="<%=answer.id%>"> 
        <h4><%=answer.text%></h4>
            <div class="container-elements">             
                <div id="container-draggable" class="container-draggable">
                  <div id="bus-type-1-draggable" class="ui-widget-content ui-draggable demo-1"> </div>    
                </div>              
            <div id="container-droppable" data-answer-id="<%=answer.id%>" class="container-droppable">
                     <div id="droppable-<%=index%>" class="ui-widget-header ui-droppable demo-2" data-value="1">
                      <p>1</p>
                    </div>
                    <div id="droppable-<%=index%>" class="ui-widget-header ui-droppable demo-2" data-value="2">
                      <p>2</p>
                    </div> 
                    <div id="droppable-<%=index%>" class="ui-widget-header ui-droppable demo-2" data-value="3">
                      <p>3</p>
                    </div> 
                    <div id="droppable-<%=index%>" class="ui-widget-header ui-droppable demo-2" data-value="4">
                      <p>4</p>
                    </div>  
                     <div id="droppable-<%=index%>" class="ui-widget-header ui-droppable demo-2" data-value="5">
                      <p>5</p>
                    </div>
              </div>
          </div>
        </div>       
        <% } else { %>
          <div id="answer-container-<%=answer.id%>" class="invis" data-answer-id="<%=answer.id%>">
            <div class="container-elements">
               <h3><%=answer.text%></h3>
               <div id="container-draggable" class="container-draggable">
                  <div id="bus-type-1-draggable" class="ui-widget-content ui-draggable demo-1"> </div>    
                </div> 
                <div id="container-droppable" data-answer-id="<%=answer.id%>" class="container-droppable"> 
                    <div id="droppable-<%=index%>" class="ui-widget-header ui-droppable demo-2" data-value="1">
                      <p>1</p>
                    </div>
                    <div id="droppable-<%=index%>" class="ui-widget-header ui-droppable demo-2" data-value="2">
                      <p>2</p>
                    </div> 
                    <div id="droppable-<%=index%>" class="ui-widget-header ui-droppable demo-2" data-value="3">
                      <p>3</p>
                    </div> 
                    <div id="droppable-<%=index%>" class="ui-widget-header ui-droppable demo-2" data-value="4">
                      <p>4</p>
                    </div>  
                     <div id="droppable-<%=index%>" class="ui-widget-header ui-droppable demo-2" data-value="5">
                      <p>5</p>
                    </div>
              </div>

            </div>
          </div>
        <% } %>

      <% } %>
             
      <% if(question.type == 3){ %>        
                <label class="lbl-suggestions" for="text-suggestion">In diesem Textfeld können Sie uns die Eindrücke und Erlebnisse auf Ihrer Reise zukommen lassen. Für Verbesserungsvorschläge und Kritik jeder Art sind wir Ihnen sehr dankbar. Aus technischen und    organisatorischen Gründen können wir jedoch keine persönliche Antwort auf Ihre Anmerkungen geben. </label>          
                <div class="col-md-2"></div>          
    ​            <textarea class="txtarea-suggestions" id="text-suggestions" data-answer-id="<%=answer.id%>"  data-question-id="<%=question.id%>" name="text-suggestion" rows="10" cols="45"></textarea>              
        
      <% } %>
    
    <% } %>
    <% if(question.type == 0) {%>
        <div id="bus-right" class="bus bus-right">
        </div>
       </div> 
    <% } %>  
     
    <% if(question.type == 1) {%>
    <% if (i == data.length-1){ %>
 
        <button class="button-next btn-next-qtype-1 invis" id="button-next-<%=question.id%>" name="button-next" data-question-type="<%=question.type%>" data-question-id="<%=question.id%>" data-last-question="true">Absenden</button>    
  
    <% } else { %>


        <button class="button-next btn-next-qtype-1 invis" style="bottom: 0;"id="button-next-<%=question.id%>" name="button-next" data-question-type="<%=question.type%>" data-question-id="<%=question.id%>" data-last-question="true">Weiter</button>    
     
    <% } %>
    <% } else { %>  

    <% if (i == data.length-1){ %>
      
        <button class="button-next btn-next-qtype-0" id="button-next-<%=question.id%>" name="button-next" data-question-type="<%=question.type%>" data-question-id="<%=question.id%>" data-last-question="true">Absenden</button>    
    
    <% } else { %>

      
        <button class="button-next btn-next-qtype-0" style="bottom: 0;"id="button-next-<%=question.id%>" name="button-next" data-question-type="<%=question.type%>" data-question-id="<%=question.id%>" data-last-question="true">Weiter</button>    
     
    <% } %>
     <% } %>
     
</div>
<% } %>   


